<h3><p>Balance Information</p></h3>
<table class="table">
  <tr>
    <td>
      Main Balance
    </td>
    <td>
      <%= @balance %>
    </td>
  </tr>

  <tr>
    <td>
      Bonus Balance
    </td>
    <td>
      <%= @bonus_balance %>
    </td>
  </tr>
</table>
