<form action="/messages/add_credit" method="post">
  <fieldset>
    <div class="control-group">
      <label class="control-label">Card ID</label>

      <div class="controls">
        <input name="card_id" id="card_id" type="text"/>
      </div>
    </div>
    <div class="form-actions">
      <input type="submit" class="btn btn-large btn-primary" value="Submit">
    </div>
  </fieldset>
</form>
