<h1>Editing listing</h1>
<style>
  .navbar{
    display: none;
}
</style>
<%= render 'form' %>

<%= link_to 'Show', @listing,class:'btn btn-large' %> 
<%= link_to 'Back', listings_path,class:'btn btn-large' %>
</div>
</fieldset>