<h3>Outbox</h3>
<table class="table">
  <tr>
    <th>
      Message ID
    </th>
    <th>
      Receiver
    </th>
    <th>
      Message
    </th>
    <th>
      Action
    </th>
  </tr>
  <% if @messages.present? %>
      <% @messages.each do |message| %>
          <tr>
            <td>
              <%= message.id %>
            </td>
            <td>
              <%= message.sender %>
            </td>
            <td>
              <%= message.message %>
            </td>
            <td>
              <%= link_to('Destroy', "/messages/#{message.id}", method: :delete, data: { confirm: 'Are you sure?' },:class =>"btn btn-danger") %>
            </td>
          </tr>
      <% end %>
  <% else %>
      <td colspan="4" style="text-align: center;">Can not connect SMS Modem</td>
  <% end %>
</table>
