<%
   is_edit=(controller.action_name=="edit")
   is_new=(controller.action_name=="new")
   is_create = (controller.action_name=="create")
   is_update = (controller.action_name=="update")
%>
<%= form_for(@new_message,:html => { :class => "form-horizontal", :multipart => true})  do |f| %>
    <fieldset>
      <% if @new_message.errors.any? %>
          <div class="alert alert-error error" data-alert="alert" id="error-message">
            <a class="close" data-dismiss="alert">×</a>
            <ul>
              <% @new_message.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <script type="text/javascript">
          function afterLoad(){
              $(".alert-message").alert('close');
          };
      </script>


      <div class="control-group">
        <label class="control-label">From Phone Number</label>
        <div class="controls">
          <%= f.text_field :from, :disabled => "disabled", :class=>"input-xlarge" %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">To Phone Number</label>
        <div class="controls">
          <%= f.text_field :to, :class=>"input-xlarge", :value => @message.sender, :readonly => "readonly" %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Messages</label>
        <div class="controls">
          <%= f.text_area :content, :class=>"input-xlarge", :rows => 6, :maxlength => 159 %>
          <% if is_new || is_create%>
              <div class="max-character" style="margin-left: 160px;">0/160 characters</div>
          <% end %>
        </div>
      </div>
      <div class="form-actions">
        <%= f.submit 'Submit' , :class=>'btn btn-large btn-primary' %>
<% end %>

