<footer>
  <hr>
  <div class="row-fluid navbar">
    <div class="span6">SMS Demo(Ruby & GSM Modem)</div>
    <div style="float:right; text-align:right;" class="span6">
      Design by
      <a href="http://www.deekau.net" target="_blank">Deekau</a>
      Copyright &copy; <%= Time.now.strftime("%Y") %>
    </div>
  </div>
</footer> 