<!-- Navbar ================================================== -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><%= image_tag "logo.png" %></a>
      <br />
      <ul class ="secondary-nav dropdown"><div class="nav-collapse collapse">

          <ul class="nav">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "New Message", new_message_path %></li>
            <li><%= link_to "Inbox", messages_path %></li>
            <li><%= link_to "Outbox", outbox_messages_path %></li>
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Account Information<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Balance", balance_messages_path %></li>
                <li><%= link_to "Add Credit", credit_messages_path %></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<br />