<h3>
  <p>Send And Receive SMS Text Messages</p>

  <p> With Ruby And A GSM/GPRS Modem</p>
</h3>
<h3><p>Modem Information</p></h3>
<table class="table">
  <!--<tr>-->
    <!--<td>-->
      <!--Phone Number-->
    <!--</td>-->
    <!--<td>-->

    <!--</td>-->
  <!--</tr>-->
  <tr>
    <td>
      Manufacturer
    </td>
    <td>
      <%= @gsm_modem.manufacturer %>
    </td>
  </tr>
  <tr>
    <td>
      Frequency
    </td>
    <td>
      <%= @gsm_modem.frequency %>
    </td>
  </tr>
  <tr>
    <td>
      Software
    </td>
    <td>
      <%= @gsm_modem.software %>
    </td>
  </tr>
  <tr>
    <td>
      IMEI
    </td>
    <td>
      <%= @gsm_modem.IMEI %>
    </td>
  </tr>
</table>
