<!DOCTYPE html>
<html lang="en">
  <head>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag 'favicon.ico' %>
    <title>SMS Demo</title>
    <%= yield :head %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body class="preview" data-spy="scroll" data-target=".subnav" data-offset="80">
    
    <%= render :partial => "shared/header" %>
    
    <div class="container">
      <% flash.each do |name, msg| %>
        <% if name != :share %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
          <a class="close" data-dismiss="alert">×</a>
          <%= msg %>
        </div>
        <% else %>
          <div class="alert alert-info" >
            <a class="close" data-dismiss="alert">×</a>
            <%= msg %>
            <br /><br />
            <span class='st_facebook_large' displayText='Facebook'></span>
            <span class='st_twitter_large' displayText='Tweet'></span>
            <span class='st_googleplus_large' displayText='Google +'></span>
            <span class='st_tumblr_large' displayText='Tumblr'></span>
            <span class='st_wordpress_large' displayText='WordPress'></span>
            <span class='st_digg_large' displayText='Digg'></span>
            <span class='st_delicious_large' displayText='Delicious'></span>
            <span class='st_blogger_large' displayText='Blogger'></span>
            <span class='st_email_large' displayText='Email'></span>
            <span class='st_sharethis_large' displayText='ShareThis'></span>
          </div>
          <% end %>
      <% end %>

      <div class="row">
        <div class="span12"><%= yield %></div>
      </div>

      <%= render :partial => "shared/footer" %>
    </div>
  </body>
  
</html>